.categoryslide-imagecontainer {
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
}

.categoryslide-imagecontainer::-webkit-scrollbar {
    display: none;
} 

.categoryslide-imagecontent {
    max-height: 221px;
    display : flex;
    user-select : none;
    transition-property: transform;
}

.categoryslide-imagecontent > img {  
    max-height: 100%;
    max-width: 100%;
}

.categoryslide-button > button {
    border: none;
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
}

.categoryslide-button > button > img {
    width : 20px;
    height : 20px;
}

.Prev {
    position: absolute;
    top : 50%;
}

.Next {
    position: absolute;
    left : 92%;
    top : 50%;
}