.category-click {
    margin: 10px auto;
    width: 100%;
    max-width : 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.category-button {
    margin-right: 50px;
}

.category-button > button {
    width : 60px;
    height: 28px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    color : #333333;
    margin-right: 10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.category-filter > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.category-filter > button > img {
    width : 20px;
    height: 20px;
}

.category-container {
    margin: 10px auto;
    width: 100%;
    max-width : 375px;
}

.category-content {
    margin: 0 20px;
}

.category-category {
    width: 335px;
    height: 325px;
    margin-bottom: 20px;
}