.comment-container {
    width: 100%;
    max-width : 375px;
    margin: 0 auto;
}

.comment-content {
    display: flex;
    flex-direction: column;
}

.comment-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
}

.comment-add > input {
    width : 295px;
    height: 36px;
    border-radius: 8px;
    border : 1px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 5px;
}

.comment-add > input::placeholder {
    color : #E4EFFF;
    font-size: 14px;
    line-height: 20px;
}

.comment-add > input:focus {
    outline: none;
}

.comment-add > button {
    width : 35px;
    height: 36px;
    border-radius: 8px;
    border : 1px solid #8ACEFF;
    background-color: #8ACEFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 8px;
    color : #F5F9FF;
    cursor: pointer;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.comment-list {
    margin-bottom: 16px;
}

.comment-user,
.comment-contnet,
.comment-info {
    display: flex;
    flex-direction: row;
}

.comment-user > img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-user > p {
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    margin-top: 4px;
}

.comment-user > p,
.comment-content {
    margin-bottom: 6px;
}

.comment-info {
    margin-left: 38px;
}

.comment-content > p {
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    margin : 0 0 0 38px;
}

.comment-info > span {
    font-size: 12px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    color: #ABCDFF;
    margin-right: 6px;
}

.comment-delete {
    cursor: pointer;
}