.detailImageContainerPerPlaceWrap{
    display: flex;
    align-items: center;
    .detail_categoryslide-imagecontent{
      width:343px;
      height:256px;
      position: relative;
      img {  
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  