.detail_webshare-box {
}

.detail_webshare-container {
  position: relative;
}

.detail_webshare-content {
  width: 325px;
  height: 100px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.detail_webshare-share {
  display: flex;
  justify-content: center;

  > {
    input {
      display: none;
    }

    img, a > img {
      width: 125px;
      height: 30px;
      cursor: pointer;
      margin : 10px;
    }
    .detail_webshare-url {
      margin-right: 15px;
    }
  }
}
.detail_webshare-button {
  margin: 0 22px;
  > button {
  width : 285px;
  height: 35px;
  background-color: #E4EFFF;
  border: 1px solid #E4EFFF;
  border-radius: 8px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  }
}