/* 헤더 */
.detailHeader{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 10px;
}
.preIcon{
  width: 8.43px;
  margin-left: 28.67px;
}
.preIcon>img{
  width: 8.43px;
}
.title{
  font-size:18px;
  font-weight:400;
  width: 240px;
  height: 26px;
  text-align: center;
}

.editIcon{
  width: 16.67px;
  margin-right: 15px;
}
.editIcon>img{
  width: 16.67px;
}
.trashIcon{
  width: 16.67px;
}
.trashIcon>img{
  width: 16.67px;
}

.heart{
  width: 50px;
}
.bookmark{
  margin-left: 15px;
}


.contentsWrap{
  margin-top: 82px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100vw;
}

.profile{
  width: 335px;
  height: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
  background: #fff;
  border: 1px solid #E4EFFF;
  border-radius: 8px;
  display:flex;
  align-items: center;
}

.profilePic{
  position:relative;
  width: 52px;
  height: 52px;
  background: #E4EFFF;
  border-radius: 100px;
  margin: 14px;
  overflow: hidden;
}
.profilePic>img{
  position: absolute;
  width: 100%;
}
.txtWrap{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 14px;
  font-size: 12px;
}
.nick{
  margin-bottom:4px;
  margin-top: 10px;
}
.profileTags{
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}
.themeNprice{
  width: 150px;
  padding-bottom: 5px;
  display:flex;
  line-height: 25px;
  white-space: nowrap; 
  overflow-x: auto; 
  margin-top: 5px;
}

.themeNprice::-webkit-scrollbar {
  display: none;
}
.regionCategory{
  width: auto;
  background: #F5F9FF;
  border-radius: 10px;
  padding: 2px 10px;
  text-align: center;
  height: 30px;
  margin-right: 5px;
}
.themeList{
  display: flex;
}
.themeCategory{
  width: auto;
  background: #F5F9FF;
  border-radius: 10px;
  padding: 2px 10px;
  text-align: center;
  height: 30px;
  margin-right: 5px;
}
.priceCategory{
  border-radius: 10px;
  padding: 2px;
  line-height: 25px;
  height: 30px;
}



/* 지도 */
.detail_map_wrap{
  width: 100vw;
  height: 375px;
  margin-top: 16px; 
  z-index: 0;
  /* position: absolute; */
}



.placeList{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 14px 24px;
  overflow: hidden;
  /* background: #333333; */
}
.selectedPlace{
  padding-bottom: 10px;
  padding-left: 10px;
}

.imgSlide{
  width: 333px;
  font-size: 12px;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
  background:#fff;
  border: 1px solid #E4EFFF;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.heartNbookmarkIcon{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100vw;
  padding: 18px 24.5px;
}
.heartIcon{
  width: 16.67px;
  margin-right: 4px;
}
.heartIcon>img{
  width: 16.67px;
}
.heartNum{
  font-weight: 400;
  font-size: 16px;
  color: #606773;
  height: 23px;
  margin-right: 10px;
}
.bookmarkIcon{
  width: 13.33px;
  margin-right: 10px;
}
.bookmarkIcon>img{
  width: 13.33px;
}
.shareIcon{
  width: 15.83px;
}
.shareIcon>img{
  width: 15.83px;
}

.txtPlace{
  width: 335px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
  background:#fff;
  border: 1px solid #E4EFFF;
  border-radius: 8px;
  display:flex;
  align-items: center;
  padding: 14px;
  font-size: 12px;
}
.txtPlace>img{
  width: 16px;
  margin-right: 10px;
}



/* 댓글 */

.commentPlace{
  margin-top: 30px;
}