/* 헤더 */
.writeHeader{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40px;
  display:flex;
  justify-content: left;
  align-items: center;
  color: #222;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px 25px;
}
.preIcon{
  width: 35px;
  
}
/* .title{
  font-size:18px;
  font-weight:400;
  width: 185px;
}
.title input{
  width: 150px;
}

.heart{
  width: 50px;
}
.bookmark{
  margin-left: 15px;
} */