.writeImageContainerPerPlaceWrap{
  display: flex;
  align-items: center;
}

.addButton{
  width: 343px;
  height: 40px;
  background: #E4EFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.imgRemoveButton{
  position: absolute;
  top: 5.64px;
  right: 5.64px;
  cursor: pointer;
}