.filterbutton-box {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 335px;
  }
  
  .filterbutton-container {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    max-height: 70px;
    height: 100%;
  }
  
  .filterbutton-content {
    margin: 10px auto;
    width: 335px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  
  .filterbutton-button {
    display: flex;
    flex-wrap: wrap;
  
    > button {
      width: 70px;
      height: 28px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin: 6px;
      border: 1px solid #FFFFFF;
      color: #333333;
      cursor: pointer;
    }
  }
  
  .filterbutton-filter {
    position: absolute;
    right: 0;
    top: 4px;
  
    > button {
      border: none;
      background-color: transparent;
      cursor: pointer;
  
      > img {
        width: 20px;
        height: 20px;
      }
    }
  }