.filtermodal-box {
    margin: 0 auto;
  }
  
  .filtermodal-container {
    position: relative;
  }
  
  .filtermodal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
    width: 336px;
    height: 360px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    z-index: 2;
  }
  
  .filtermodal-themetitle, .filtermodal-pricetitle {
    padding: 18px;
  }
  
  .filtermodal-themetitle > p, .filtermodal-pricetitle > p {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #606773;
    margin: 0;
  }
  
  .filtermodal-themebutton, .filtermodal-pricebutton {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filtermodal-main-category-theme > button, .filtermodal-main-category-price > button, .filtermodal-filterbutton > button {
    border: none;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }
  
  .filtermodal-main-category-theme > button, .filtermodal-main-category-price > button {
    width: 82px;
    height: 28px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 7px;
  }
  
  .table_btn_s {
    background-color: #abcdff;
  }
  
  .table_btn_ns {
    background-color: #e4efff;
  }
  
  .filtermodal-pricebutton {
    margin-bottom: 10px;
  }
  
  .filtermodal-filterbutton {
    margin: 0 23px;
  
    > button {
      width: 282px;
      height: 44px;
      background-color: #8aceff;
      border-radius: 8px;
      color: #f5f9ff;
      font-size: 16px;
      line-height: 23px;
    }
  }