.keywordpost-container {
    width: 335px;
    margin : 12px auto;
}

.keywordpost-content {
    width : 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 18px;
}

.keywordpost-title,
.keywordpost-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
    background-color: #FFFFFF;
}

.keywordpost-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.keywordpost-category {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.keywordpost-user,
.keywordpost-heart {
    display: flex;
    flex-direction: row;
}

.keywordpost-user > img {
    width : 40px;
    height : 40px;
    border-radius: 50%;
    margin: 7px;
}

.keywordpost-user > a > p,
.area-button-content > button,
.theme-button-content > button
.keywordpost-heart > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.keywordpost-user > a > p {
    width : 200px;
    height : 20px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 16px 5px;
}

.keywordpost-click {
    display: flex;
}

.keywordpost-click > button > img {
    margin: 18px 5px;
    cursor: pointer;
}

.keywordpost-shareicon {
    width : 15px;
    height: 16px;
    margin-top: 19.5px;
}

.keywordpost-bookmarkicon {
    width : 13px;
    height: 17px;
}

.keywordpost-categorybutton {
    width : 255px ;
}

.keywordpost-area-button-content, 
.keywordpost-theme-button-content,
.keywordpost-price-button-content {
    width : 70px !important;
    height: 28px !important;
    margin-right: 15px !important;
}

.keywordpost-area-button-content > button,
.keywordpost-theme-button-content > button,
.keywordpost-price-button-content > button {
    width : 70px;
    height: 28px;
    background-color: #8ACEFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #8ACEFF;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #F5F9FF;
    text-align: center;
}

.keywordpost-area-button,
.keywordpost-theme-button,
.keywordpost-price-button {
    margin : 12px 0 12px 8px;
}

.keywordpost-click > button,
.keywordpost-heart > button {
    border: none;
    background-color: transparent;
}

.keywordpost-heart > button > img {
    position : absolute;
    right : 30px;
    bottom: 19px;
    height : 13px;
    cursor: pointer;
}

.keywordpost-heart > p {
    position : absolute;
    right : 5px;
    margin-top : 17px;
    width: 20px;
    height : 17px;
    font-size: 12px;
    line-height: 17px;
    color: #333333;
}