.login-container {
    margin: 0 auto;
    width: 100%;
    max-width : 375px;
    background-color: #F5F9FF;
}

.login-content {
    width : 375px;
    height: 812px;
}

.login-content,
.login-input,
.login-social,
.login-route {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    margin-top: 252px;
    margin-bottom: 40px;
}

.login-input > input,
.login-input > button {
    width : 281px;
    height : 44px;
    border-radius: 8px;
}

.login-input > input {
    border : 1px solid #45A6FF;
    margin-bottom: 26px;
    margin-right: 0;
}

.login-input > input::placeholder,
.login-btn,
.login-route > p,
.login-route > p > a,
.kakao-line > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.login-input > input::placeholder {
    color:#ECECEC;
    font-size : 14px;
    line-height: 20px;
}

.login-input > input:focus {
    outline: none;
}

.login-btn {
    background: #45A6FF;
    border: 1px solid #45A6FF;
    color : #F5F9FF;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}

.login-rout {
    margin-bottom: 62px;
}

.login-route > p,
.login-route > p > a {
    font-size: 12px;
    line-height: 17px;
    color: #032558;
}

.login-route > p {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
}

.login-route > p > a {
    margin-left: 71px;
    text-decoration : none;
    margin-right: 5px;
}

.kakao-line {
    width : 100%;
    color: #ABCDFF;
    text-align: center;
    font-size: 14px;
    margin-bottom: 41px;
}

.kakao-line::before,
.kakao-line::after {
    display : inline-block;
    content : "";
    background-color : #ABCDFF;
    height: 1px;
    width : 108px;
}

.kakao-line::before {
    margin : 0 14px 5px 0;
}

.kakao-line::after {
    margin : 0 0 5px 14px;
}

.login-kakao {
    margin-bottom: 183px;
}

.login-kakao > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow {
    position: relative;
}

.arrow::after {
    position: absolute; 
    content: '';
    width: 5px; 
    height: 5px; 
    top : 7px;
    left : 7px;
    border-top: 1px solid #032558;
    border-right: 1px solid #032558;
    transform: rotate(45deg);
}