.login-container {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    background: rgba(138, 206, 255, 0.2);
  }
  
  .login-content {
    max-width: 375px;
    height: 812px;
  }
  
  .choi-test {
    margin-bottom: 90px;
  }
  
  .choi-test2 {
    margin-top: 50px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    height: 500px;
  }
  
  .login-logo, .login-input, .login-button, .login-kakao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-logo > {
    img {
      width: 100px;
      height: 100px;
    }
  
    h2 {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      color: #333333;
    }
  
    p {
      font-size: 16px;
      line-height: 23px;
      color: #606773;
    }
  
    h2, p {
      margin: 5px;
    }
  }
  
  .login-input {
    margin-bottom: 8px;
  
    > input {
      width: 281px;
      height: 44px;
      border-radius: 8px;
      padding: 10px;
    }
  }
  
  .login-button > button {
    width: 281px;
    height: 44px;
    border-radius: 8px;
    padding: 10px;
  }
  
  .login-input > input {
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    margin-right: 0;
  }
  
  .login-email {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .login-message {
    margin: 0 50px 17px;
  
    > p {
      color: #e31b3f;
      font-size: 12px;
      line-height: 17px;
      margin: 0;
    }
  }
  
  .login-logo > p, .login-input > input::placeholder, .login-route > a, .kakao-line > p, .login-message > p {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  
  .login-input > input {
    &::placeholder {
      color: #e4efff;
      font-size: 14px;
      line-height: 20px;
    }
  
    &:focus {
      outline: none;
    }
  }
  
  .login-button {
    margin-bottom: 24px;
  }
  
  .login-btn {
    background: #8aceff;
    border: 1px solid #8aceff;
    color: #f5f9ff;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }
  
  .login-route {
    display: flex;
    justify-content: flex-end;
    margin: 0 60px 66px 0;
  
    > a {
      text-decoration: none;
      font-size: 12px;
      line-height: 17px;
      color: #606773;
    }
  }
  
  .login-kakao {
    margin-bottom: 183px;
  
    > button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  
  .arrow {
    position: relative;
  
    &::after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      top: 6px;
      left: 7px;
      border-top: 1px solid #606773;
      border-right: 1px solid #606773;
      transform: rotate(45deg);
    }
  }