.mainpost-container {
    max-width: 335px;
    max-height: 325px;
    margin : 12px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.mainpost-content {
    width : 100%;
    height: 100%;
}

.mainpost-title,
.mainpost-category {
    display: flex;
    flex-direction: row;
    height: 52px;
    background-color: #FFFFFF;
}

.mainpost-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mainpost-category {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mainpost-user,
.mainpost-button,
.mainpost-heart {
    display: flex;
    flex-direction: row;
}

.mainpost-user > img {
    width : 40px;
    height : 40px;
    border-radius: 50%;
    margin: 7px;
}

.mainpost-user > p,
.mainpost-button > button,
.mainpost-heart > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}

.mainpost-user > p {
    width : 200px;
    height : 20px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 16px 5px;
}

.mainpost-click > img {
    margin: 18px 10px;
    cursor: pointer;
}

.share-icon {
    width : 15px;
    height: 16px;
}

.bookmark-icon {
    width : 13px;
    height: 17px;
}

.mainpost-button {
    margin-right: 140px;
}

.mainpost-button > button {
    width : 60px;
    height: 28px;
    background-color: #8ACEFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #8ACEFF;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #F5F9FF;
}

.area-button {
    margin : 12px 10px 12px 8px;
}

.theme-button {
    margin : 12px 0 12px 0;
}

.mainpost-heart > img {
    width: 15px;
    height : 13px;
    cursor: pointer;
    margin : 20px 5px 16px 0;
}

.mainpost-heart > p {
    margin-top : 17px;
    width: 20px;
    height : 17px;
    font-size: 12px;
    line-height: 17px;
    color: #8ACEFF;
}
