.swiper {
    margin-left: 0;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  
  .swiper-slide {
    flex-shrink: 0;
    position: relative;
    height: auto;
    transition-property: transform;
  }
  
  .postItem-container {
    width: 335px;
    margin: 12px auto;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .postItem-content {
    width: 100%;
    position: relative;
    margin-bottom: 18px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .postItem-title, .postItem-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
    background-color: #FFFFFF;
  }
  
  .postItem-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .postItem-category {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .postItem-user, .postItem-heart {
    display: flex;
    flex-direction: row;
  }
  
  .postItem-user > {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 7px 2px 7px 7px;
    }
  
    p {
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      margin-top: 17px;
    }
    .postItem-grade {
      width: 30px;
      height: 30px;
      margin: 13px 5px 0 0;
    }
  }
  
  .postItem-area-button-content > button, .postItem-theme-button-content > button .postItem-heart > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
  }
  
  .postItem-user > a > p {
    width: 200px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 16px 5px;
  }
  
  .postItem-click {
    display: flex;
    cursor: pointer;
  
    > button > img {
      margin: 18px 5px;
      cursor: pointer;
    }
  }
  
  .postItem-shareicon {
    width: 15px;
    height: 16px;
    margin-top: 19.5px;
  }
  
  .postItem-bookmarkicon {
    width: 13px;
    height: 17px;
  }
  
  .postItem-categorybutton {
    width: 255px;
  }
  
  .postItem-area-button-content, .postItem-theme-button-content, .postItem-price-button-content {
    width: 70px !important;
    height: 28px !important;
    margin-right: 15px !important;
  }
  
  .postItem-area-button-content > button, .postItem-theme-button-content > button, .postItem-price-button-content > button {
    width: 75px;
    height: 28px;
    background-color: #8ACEFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #8ACEFF;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #F5F9FF;
    text-align: center;
  }
  
  .postItem-area-button, .postItem-theme-button, .postItem-price-button {
    margin: 12px 0 12px 8px;
  }
  
  .postItem-click > button {
    border: none;
    background-color: transparent;
  }
  
  .postItem-heart > {
    button {
      border: none;
      background-color: transparent;
  
      > img {
        position: absolute;
        right: 30px;
        bottom: 19px;
        height: 13px;
        cursor: pointer;
      }
    }
  
    p {
      position: absolute;
      right: 5px;
      bottom: 5.5px;
      width: 20px;
      height: 17px;
      font-size: 12px;
      line-height: 17px;
      color: #333333;
    }
  }