.postslide-imagecontainer {
    overflow: hidden;
    overflow-x: scroll;
    object-fit: contain;
}

.postslide-imagecontainer::-webkit-scrollbar {
    display: none;
} 

.postslide-imagecontent {
    width: 335px !important;
    height: 210px !important;
    position: relative;
}

.postslide-imagecontent > img {  
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.postslide-title {
    position: absolute;
    background: rgba(96, 103, 115, 0.8);
    width: 100%;
    height: 43px;
    top: 80%;
    z-index: 2;
}

.postslide-title > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #F5F9FF;
    margin: 8px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #E4EFFF;
    width : 20px;
    height : 20px;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 15px;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-weight: 700;
}