.regionfilter-container {
    position: relative;
    width: 375px;
    margin: 0 auto;
  }
  
  .regionfilter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
    z-index: 998;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
  }
  
  .regionfilter-title {
    display: flex;
    justify-content: center;
  
    > p {
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #8ACEFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    }
  }
  
  .area-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 47px;
  
    > p {
      text-align: center;
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #333333;
      cursor: pointer;
      margin: 10px;
      width: 50px;
      height: 23px;
    }
  }