.searchWrite-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 375px;
    margin: 0 auto;
  
    > {
      input {
        width: 335px;
        height: 40px;
        border: 1px solid #E4EFFF;
        border-radius: 8px;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.04);
        margin: 0;
        padding: 5px;
  
        &::placeholder {
          font-family: 'Noto Sans KR';
          font-style: normal;
          font-weight: 400;
          color: #ECECEC;
          font-size: 14px;
          line-height: 20px;
        }
  
        &:focus {
          outline: none;
        }
      }
  
      button {
        border: none;
        background-color: transparent;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 9px;
        right: 40px;
        cursor: pointer;
  
        > img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }