.signup-container {
    margin: 0 auto;
    width: 100%;
    max-width : 375px;
}

.signup-content{
    width : 375px;
    height: 812px;
    background-color: #F5F9FF;
}

.signup-content,
.signup-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input {
    margin-top: 164px;
}

.signup-input > label {
    font-size : 16px;
    color : #333333;
    margin-bottom : 12px;
}

.signup-input > input,
.signup-id > input,
.signup-nickname > input {
   width : 252px;
   height: 44px;
   border : 1px solid #45A6FF;
   border-radius: 8px;
}

.signup-nickname > input,
.signup-id > input {
    margin-right: 5px;
}

.signup-password > input,
.signup-btn {
    width : 315px;
    height: 44px;
    border : 1px solid #45A6FF;
    border-radius: 8px;
}

.signup-id,
.signup-nickname,
.password,
.passwordCheck {
    margin-bottom : 5px;
}

.signup-message {
    margin-bottom : 170px;
}

.signup-input > input::placeholder,
.signup-id > input::placeholder,
.signup-nickname > input::placeholder,
.signup-password > input::placeholder {
    color : #ECECEC;
}

.signup-input > input:focus,
.signup-id > input:focus,
.signup-nickname > input:focus {
    outline: none;
}

.signup-id,
.signup-nickname {
    position : relative;
}

.signup-id > button,
.signup-nickname > button {
    position : absolute;
    border-radius: 8px;
    width: 60px;
    height: 44px;
    background-color: #45A6FF;
    border: 2px solid #45A6FF;
    cursor: pointer;
    color : #F5F9FF;
    font-size: 10px;
}

.message {
    margin-bottom: 14px;
}

.message > p,
.signup-message > p {
    font-size: 12px;
    margin-top: 0;
}

.success {
    color: #5BD251;
}

.error {
    color: #D25151;
}

.signup-btn {
    border : 1px solid #45A6FF;
    background-color: #45A6FF;
    color : #F5F9FF;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 66px ;
}

.signup-input > label,
.signup-input > input::placeholder,
.signup-id > input::placeholder,
.signup-nickname > input::placeholder,
.signup-password > input::placeholder,
.error-message > p,
.signup-btn {
    font-family : 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
}