.signup-container {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
  }
  
  .signup-content {
    width: 375px;
    height: 812px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-password, .signup-logo, .signup-password {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-logo {
    margin: 72px 0 80px 0;
  
    > {
      img {
        width: 66px;
        height: 66px;
      }
  
      p {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
  
  .signup-shadow {
    width: 60px;
    height: 5px;
    border-radius: 100px;
    background-color: #D9D9D9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: blur(8px);
  }
  
  .signup-input > {
    label {
      font-size: 16px;
      color: #333333;
    }
  
    input {
      margin-top: 8px;
      width: 256px;
      height: 44px;
    }
  }
  
  .signup-id > input, .signup-nickname > input {
    margin-top: 8px;
    width: 256px;
    height: 44px;
  }
  
  .signup-input > input, .signup-id > input, .signup-nickname > input, .signup-password > input {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    padding: 10px;
  }
  
  .signup-nickname > input, .signup-id > input {
    margin-right: 12px;
  }
  
  .signup-password > input, .signup-btn {
    width: 323px;
    height: 44px;
  }
  
  .signup-id, .signup-nickname, .password, .passwordCheck {
    margin-bottom: 5px;
  }
  
  .signup-message {
    margin-bottom: 60px;
  }
  
  .signup-input > input::placeholder, .signup-id > input::placeholder, .signup-nickname > input::placeholder, .signup-password > input::placeholder {
    color: #E4EFFF;
  }
  
  .signup-input > input:focus, .signup-id > input:focus, .signup-nickname > input:focus, .signup-password > input:focus {
    outline: none;
  }
  
  .signup-id, .signup-nickname {
    position: relative;
  }
  
  .signup-id > button, .signup-nickname > button, .signup-btn {
    border-radius: 8px;
    background-color: #8ACEFF;
    border: 1px solid #8ACEFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    color: #F5F9FF;
  }
  
  .signup-id > button, .signup-nickname > button {
    width: 55px;
    height: 44px;
    font-size: 10px;
  }
  
  .message {
    margin-bottom: 14px;
  
    > p {
      font-size: 12px;
      margin-top: 0;
    }
  }
  
  .signup-message > p {
    font-size: 12px;
    margin-top: 0;
  }
  
  .success {
    color: #5BD251;
  }
  
  .error {
    color: #D25151;
  }
  
  .signup-btn {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }
  
  .signup-input > {
    label, input::placeholder {
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 400;
    }
  }
  
  .signup-id > input::placeholder, .signup-nickname > input::placeholder, .signup-password > input::placeholder, .error-message > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
  }
  
  .signup-btn, .signup-logo > p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
  }