.Spinner-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffffb7;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Spinner-text {
    font: 1rem 'Noto Sans KR';
    text-align: center;
  }
  
  .Spinner-container > img {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
  }